textarea {
  resize: none;
}

#formContainer {
  width: 80%;
  margin: auto;
}

input {
  display: block;
}
textarea {
  display: block;
}
ul {
  list-style-type: none;
}
#educationContainer{
  width: 100%;
  display: inline-block;
}
.schoolingInfo {
  width: 300px;
  margin-top: 20px;
}
#workExp {
  margin: 10px;
  display: block;
  float: left;
  width: 100%;
}

