textarea {
  resize: none;
}

#formContainer {
  width: 80%;
  margin: auto;
}

input {
  display: block;
}
textarea {
  display: block;
}
ul {
  list-style-type: none;
}
#educationContainer{
  width: 100%;
  display: block;
}
.schoolingInfo {
  width: 300px;
  margin-bottom: 30px;
  display: inline-block;
}

#workContainer{
  width: 100%;
  display: block;
}
.workInfo {
  width: 500px;
  margin-bottom: 30px;
  display: inline-block;
}

